//imports
@import "mixin2";

//Variables
$margen: 0px;
$padding: 0px;
$colorLetra: rgb(99, 12, 52);
$colorTituloH1: rgb(173, 28, 28);
$colorTitulosH2H3H4: rgb(27, 53, 124);
$margenIzq:120px;
$margenTituloP:auto;
$colordeFondo:rgb(226, 109, 109);
//Mixins y otro en el otro scss
@mixin margenAbajo(){
    margin-bottom: 10px ;
}
//selectores
body{
    padding: $margen;
    margin: $padding;
    background-color: $colordeFondo;
}
h1{
    margin: $margenTituloP;
    width: 15%;
    padding: sumar(5,5);
    color: $colorTituloH1;
}
h2,h3,h4{
    color: $colorTitulosH2H3H4;
    margin: $margenTituloP;
    margin-left: $margenIzq;
    margin-top:restar(15,5);
    .h2{
        @include margenAbajo();
    }

}
p {
    margin: $margenTituloP;
    margin-left: $margenIzq;
    margin-right: 120px;
    margin-top: multiplicar(10,2);
    font-family: cursive;
    color: $colorLetra;
}
.img1{
    margin-left: 9%;
}
.tamanoImgMujerHombre{
    width:50px;
    height:50px;
}
.tamanoImgParienteCodigoAspecto{
    width:dividir(230px,2);
    height:115px;
}
.pjs{
    margin-left: 20%;

}
.tablaPersonajes{
    width: 100%;
    margin-left: 50px;
}
.imagenConTexto{
    margin-left: $margenIzq;
}
div{
    h3{
        color: rgb(207, 191, 195);
    }
    
    background-color: cadetblue;
    p{
        background-color: aliceblue;
        font: {
            family:verdana;
        }
    }
}
.extender{
    @extend div ;
}
//Funciones 
@function sumar($primero,$segundo){
 @return $primero+$segundo;
}
@function restar($primero,$segundo){
    @return $primero-$segundo;
}
@function multiplicar($primero,$segundo){
    @return $primero*$segundo;
}
@function dividir($primero,$segundo){
    @return ($primero/$segundo);
}
//Bucles
@for $i from 1 to 3{
    h3{
        margin-top: 100%/12*$i;
    }
}